<div class = 'row'>
  <div class = 'span8'>
    <h1>Popular Users</h1>
    <p class = 'lead'>Most active Users</p>
    <%= render partial: 'users/user', collection: @users %>
    <!-- the paginate is weird because it paginates @posts -->
    <%= will_paginate @posts %>

  </div>
  <div class = 'span4'>
  </div>
</div>